li a {
    color: black;
    font-size: large;
    font-family: "Tibetan Machine Uni";

}
h3 {
    color: black;
    font-size: large;
    font-family: "Tibetan Machine Uni";

}


ul {
    padding: auto;
}

.body_div {
    padding: 10%;
}

body {
    background: white url("images/backgrounds.jpg") no-repeat;

}